## Initial Exploration of Apple Stock

In [4]:
# import required libraries
import pandas as pd
import matplotlib.pyplot as plt # graphs and charts
import plotly.express as px # incase want to do interactive graphs

In [3]:
DATA = "../data/aapl.csv"

In [13]:
apple_df = pd.read_csv(DATA, parse_dates=["Date"],index_col="Date")

In [19]:
apple_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3854 entries, 2010-01-04 to 2025-04-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3854 non-null   float64
 1   High    3854 non-null   float64
 2   Low     3854 non-null   float64
 3   Open    3854 non-null   float64
 4   Volume  3854 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 180.7 KB

In [20]:
apple_df.describe()

             Close         High          Low         Open        Volume
count  3854.000000  3854.000000  3854.000000  3854.000000  3.854000e+03
mean     70.673554    71.379008    69.893755    70.610598  2.263752e+08
std      68.592156    69.272078    67.819639    68.506379  2.172045e+08
min       5.771908     5.890619     5.717810     5.781522  2.323470e+07
25%      17.619554    17.831890    17.446614    17.659458  8.324180e+07
50%      36.318361    36.575688    35.977608    36.324902  1.372656e+08
75%     131.524704   132.867004   130.231703   131.882184  3.025519e+08
max     258.396667   259.474086   257.010028   257.568678  1.880998e+09

In [ ]:
# Quick peek at the data and what we are dealing with.
apple_df.head(), apple_df.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3854 entries, 2010-01-04 to 2025-04-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3854 non-null   float64
 1   High    3854 non-null   float64
 2   Low     3854 non-null   float64
 3   Open    3854 non-null   float64
 4   Volume  3854 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 180.7 KB

(               Close      High       Low      Open     Volume
 Date
 2010-01-04  6.431896  6.446623  6.382908  6.414465  493729600
 2010-01-05  6.443017  6.479383  6.409055  6.449629  601904800
 2010-01-06  6.340530  6.468561  6.333918  6.443015  552160000
 2010-01-07  6.328811  6.371488  6.282828  6.363974  477131200
 2010-01-08  6.370885  6.371487  6.283128  6.320394  447610800,
                  Close        High         Low        Open    Volume
 Date
 2025-04-23  204.332062  207.727603  202.534416  205.730222  52929200
 2025-04-24  208.097107  208.556511  202.674226  204.621669  47311000
 2025-04-25  209.005920  209.475306  205.929952  206.099728  38222300
 2025-04-28  209.864792  211.223011  207.188309  209.724976  38743100
 2025-04-29  210.933395  211.962045  208.097103  208.416691  36827600)